*{
  font-family: "ＭＳ Ｐゴシック";
  text-decoration: none;
}

h6{ 
  margin: 0px;
}

a{ 
  color:black
}
a:visited { text-decoration: none;  color:black }
a:hover { text-decoration: none;  color:black }
a:focus { text-decoration: none;  color:black }
a:hover, a:active { text-decoration: none; color:red }
